<html>
	  <head>
	    <title>pdf2text</title>
	  </head>	
	  <body>

    <br/>
    <div style="height:80%;width:80%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    	{{ messages['pdf2text'] }} 
    </div>
    <br/>
    	  	<a href="/" style="
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
">Go Back</a>
</body>
</html>
